$light-bg: #f8f8f8;
$light-text: #121212;
$light-input-bg: #e0dede;
$light-border: #ddd;
$light-shadow: rgba(0, 0, 0, 0.1);

$dark-bg: #121212;
$dark-text: #ffffff;
$dark-input-bg: #1e1e1e;
$dark-border: #333;
$dark-shadow: rgba(0, 0, 0, 0.4);
