@use 'variables';

* {
  box-sizing: border-box;
}

body {
    background-color: variables.$light-input-bg;
    color: variables.$light-text;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: grid;
    grid-row-gap: 15px;
    background: variables.$light-bg;
    padding: 20px;
    border-radius: 10px;
    // text-align: center;
    width: 600px;

    h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    label {
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
    }
    
    input {
        width: 100%;
        padding: 10px 10px 10px 18px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        outline: none;
        background: variables.$light-input-bg;
        color: variables.$light-text;
        margin-bottom: 15px;
    }
    
    button {
        background: variables.$light-bg;
        color: variables.$light-text;
        border: 2px solid variables.$light-text;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 50px;
        transition: background 0.3s, color 0.3s;
        display: block;
        width: 50%;
        font-weight: bold;

        &:disabled {
            background-color: #cccccc;
            color: #666666;
            cursor: default;
        }

        &:hover:not([disabled]) {
            background: variables.$dark-bg;
            color: variables.$dark-text;
        }
    }
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: variables.$dark-bg;
        color: variables.$dark-text;
    }
    .container {
        background: variables.$dark-input-bg;

        label,
        h1 {
            color: variables.$dark-text;
            float: left;
        }

        input {
            background: variables.$dark-input-bg;
            border: 1px solid variables.$dark-border;
            color: variables.$dark-text;

            &::placeholder {
                color: #aaa;
            }
        }

        button {
            color: variables.$light-text;
            border: 2px solid variables.$dark-text;

            &:hover:not([disabled]) {
                background: variables.$dark-bg;
                color: variables.$dark-text;
            }
        }
    }
}